<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}Le scheduler{% endblock %}</title>

	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../public/css/style.css">



</head>
<body id="page-top" class="index">
	<!-- Navbar -->
	<nav id="MainNav" class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
			
		<div class="collapse navbar-collapse" id="navigationbar">
			<!-- Left side of the navbar -->
			<ul class="nav navbar-nav navbar-left">
				<li><a href="/">Main Page</a></li>
				<li><a href="/schedule">Scheduler</a></li>
				{% if username %}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						{{ username }}<span class="caret"></span>
					</a>

					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="/logout"
								onclick="event.preventDefault();
									document.getElementById('logout-form').submit();">
								Logout
							</a>
							<a href="/user"> User </a>

							<form id="logout-form" action="/logout" method="POST" style="display: none;">
							</form>
						</li>
					</ul>
				</li>
				{% else %}
				<li><a href="/login">Login</a></li>
				{% endif %}					
			</ul>

		<!-- Right side of the navbad -->
		<ul class="nav navbar-nav navbar-right">
			<li><a href="https://github.com/Aztic/Py-Cytube_scheduler">Github</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="#"></a></li>	
		</ul>
		</div>

	</nav>
	{%block body %}
		<div class="main_body">
			<div class="container">
				<div class="intro-text">
					<div class="intro-lead-in">because i'm to lazy to do it manually</div>
					<div class="intro-heading">A normal scheduler</div>
					<a href="/user" class="btn btn-xl">are you lazy enough?</a>
				</div>
			</div>
		</div>
	{% endblock %}

	
	<script type="text/javascript">
		$(document).ready(fuction(){
			$(".dropdown-toggle").dropdown();
		});
	</script>
</body>
</html>
